.imgContainer{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: black 1px solid;
    scroll-snap-align: center;
    flex-shrink: 0;
    transition: 1s;
    
    & img{
        color:green;
    }

}
@media(max-width: 1024px){
    .imgContainer{
        width: 100%;
        margin-inline-end: 0;
    }
}
